{% extends 'ra/base.html' %}

{% block content %}
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Transações realizadas</h4>
                <p class="category">Expansão de chaves - Terceiro modo operação</p>
            </div>
            <div class="content">
                <table class="table datatable responsive">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>ID Veículo</th>
                            <th># exp</th>
                            <th>Pseud</th>
                            <th>Cypher</th>
                            <th>Request ID</th>
                            <th>Key_P</th>
                            <th>IV_P1</th>
                            <th>IV_P2</th>
                            <th>PCA Req</th>
                            <th>LA1 Req</th>
                            <th>LA2 Req</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        {% for expansion in transaction.key_expansions.all %}
                            <tr>
                                <td class="td-wrap">{{ expansion.pca_transaction.transaction_date | date:'d/m/y H:i'}}</td>
                                <td class="td-wrap">{{ expansion.vehicle_request.vehicle_id }}</td>
                                <td class="td-wrap">{{ expansion.expansion_number}}</td>
                                <td class="td-wrap">{{ expansion.vehicle_request.pseud_point }}</td>
                                <td class="td-wrap">{{ expansion.vehicle_request.cypher_point }}</td>
                                <td class="td-wrap">{{ expansion.pca_transaction.pca_request_id }}</td>
                                <td class="td-wrap">{{ expansion.vehicle_request.key_p }}</td>
                                <td class="td-wrap">{{ expansion.iv_p_1 }}</td>
                                <td class="td-wrap">{{ expansion.iv_p_2 }}</td>
                                <td class="td-wrap">{{ expansion.pca_transaction.cyphertext | slice:"0:60"}}...</td>
                                <td class="td-wrap">{{ transaction.la_1_transaction.cyphertext | slice:"0:60"}}...</td>
                                <td class="td-wrap">{{ transaction.la_2_transaction.cyphertext | slice:"0:60"}}...</td>
                            </tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
                                
                <!--div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Certificado obtido {% now "H:i d/M/Y" %}
                    </div>
                </div-->
            </div>
        </div>
    </div>
{% endblock %}