{% extends 'ra/base.html' %}

{% block content %}
	<div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Transações realizadas</h4>
                <p class="category">Valores salvos a partir das transações entre veículo, RA e PCA</p>
            </div>
            <div class="content">
                <table class="table datatable responsive">
                    <thead>
                        <tr>
                            <th>Data</th>
                            <th>Identificação do veículo</th>
                            <th>Chave pseud</th>
                            <th>Chave cypher</th>
                            <th>Request ID</th>
                            <th>Chave reconstrução</th>
                            <th>Texto cifrado</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td class="td-wrap">{{ transaction.transaction_date  | date:'d/m/y H:i'}}</td>
                            <td class="td-wrap">{{ transaction.request.vehicle_id }}</td>
                            <td class="td-wrap">{{ transaction.request.pseud_point }}</td>
                            <td class="td-wrap">{{ transaction.request.cypher_point }}</td>
                            <td class="td-wrap">{{ transaction.return_value.request_id }}</td>
                            <td class="td-wrap">{{ transaction.return_value.reconstruction_point }}</td>
                            <td class="td-wrap">{{ transaction.return_value.cyphertext | slice:"0:100"}}...</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
			                    
                <!--div class="footer">
                    <div class="stats">
                        <i class="fa fa-clock-o"></i> Certificado obtido {% now "H:i d/M/Y" %}
                    </div>
                </div-->
            </div>
        </div>
    </div>
{% endblock %}